<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Tibbers/Dropbox/2015Fall/OperatingSystemConcepts5348.002/projects/Project3/mv6/src/Project3.xcodeproj</string>
</dict>
</plist>
